<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WaveAttack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>544F055C1BA305CD00AC1BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544F05741BA305CD00AC1BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>544F057F1BA305CD00AC1BBD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
